<nav class="navbar navbar-expand-md navbar-light barra-header">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
    Escola 50/50
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      </ul>

      <ul class="navbar-nav">
        
        <% if user_signed_in? %>
          <li><%= current_user.first_name %> <%= current_user.last_name %></li>
        <% else %> 
        <% end %>
      </ul>
    </div>
  </div>
</nav>
