<div id="container-fase-1" class="container-fase">
  <h1 class="titol-repte">El repte de les lletres perdudes</h1>
  <br/>
  <p class="text-repte">Per què és important estalviar energia a casa?</p>
  <p id="frase-1" class="repte-lletres-perdudes">P_r _st_lv__r d_n_rs _ ll__t_r c_ntr_ _l c_nv_ cl_m_t_c.</p>
  <p id="frase-2" class="repte-lletres-perdudes">P_r _sta</span>lv_a</span>r d_n_rs _ ll__ta</span>r c_ntra</span> _l ca</span>nv_ cl_mà</span>t_c.</p>
  <button id="pista-1" class="btn boto-accio">Necessito una pista</button>

  <br/>
  <br/>
  <p class="text-repte">Escriu la resposta aquí:</p>
  <input id="input-repte-1"></input>
  <button id="comprova-repte-1" class="btn boto-accio">Comprova</button>
  <p class="benfet"><%= image_tag "correcte.png", class: "correcte" %> </p>
  <p class="malfet"><%= image_tag "nocorrecte.png", class: "nocorrecte" %></p>
</div>