<div id="container-fase-11" class="container-fase">
  <h1 class="titol-repte">El repte de les lletres perdudes</h1>
  <br/>
  <p class="text-repte">Escriu la frase completa:</p>
  <p id="frase-3" class="repte-lletres-perdudes">Q__n s_rt_m s_mpr_ _p_gu_m _ls ll_ms _ _ls _p_r_lls.</p>
  <p id="frase-4" class="repte-lletres-perdudes">Q_an s_rt_m s_mpr_ apagu_m _ls ll_ms _ _ls apar_lls.</p>
  <button id="pista-2" class="btn boto-accio">Necessito una pista</button>

  <br/>
  <br/>
  <p class="text-repte">Escriu la resposta aquí:</p>
  <input id="input-repte-11"></input>
  <button id="comprova-repte-11" class="btn boto-accio">Comprova</button>
  <p class="benfet11"><%= image_tag "correcte.png", class: "correcte" %> </p>
  <p class="malfet11"><%= image_tag "nocorrecte.png", class: "nocorrecte" %></p>
</div>