<div id="container-fase-13" class="container-fase">
  <h1 class="titol-repte">Memòria prodigiosa</h1>
  <br/>
  <p class="text-repte">Escriu els valors mínims d'il·luminació en lux per a cada espai:</p>
  
  <br/>
  <label>Aula:</label>
  <input id="input1-repte-13"></input>
  <br/>
  <label>Gimnàs:</label>
  <input id="input2-repte-13"></input>
  <br/>
  <label>Biblioteca:</label>
  <input id="input3-repte-13"></input>
  <br/>
  <label>Passadís:</label>
  <input id="input4-repte-13"></input>
  <br/>
  <br/>
  <button id="comprova-repte-13" class="btn boto-accio">Comprova</button>
  <p class="benfet13"><%= image_tag "correcte.png", class: "correcte" %> </p>
  <p class="malfet13"><%= image_tag "nocorrecte.png", class: "nocorrecte" %></p>
</div>