<div class="row">
  <div class="col-md-6">
    <div class="inici-sessio-container">
      Segur que ho vols esborrar tot?
      <%= link_to "Esborrar tots els usuaris i puntuacions", puntuacions_esborrar_tot_path, class: 'btn boto-accio' %>
    </div>
  </div>
</div>

