// Place all the styles related to the Puntuacions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.puntuacio-positiva {
  color: green;
}

.puntuacio-negativa {
  color: red;
}

.champion {
  background-color: #afd6ce;
}